body {
    font-size: 0.8rem;
    color: #752305;
}

h1 {
    text-align: center;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fef7e2;
    border-radius: 75px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    border-radius: 75px 75px 0 0;
}

.card-description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 75px;
    padding: 5px 0;
    border: none;
    color: #752305;
    background-color: #ffdf7f;
}

@media screen and (min-width: 576px) {
    main {
        margin: 20px;
    }
    h1 {
        font-size: 2rem;
        text-align: start;
    }
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card {
        width: 45%;
    }
}

@media screen and (min-width: 769px) {
    .cards-container {
        flex-wrap: nowrap;
    }

    .card {
        margin-right: 10px;
    }
}